# Default config to be used (settings can be modified per-wavelength in wavelength.cfg)
# Full list of options can be found https://github.com/scopetools/cudasirecon?tab=readme-ov-file#full-list-of-optionsflags-forcudasirecon

# Interestingly some values in softworx don't match this paper:
# https://inext-discovery.eu/download/?file=jove-protocol-62274-cryo-structured-illumination-microscopic-data-collection-from.pdf&do=do
# (Wiener filter = 0.004 and bias offset = 200)
[recon config]
nimm=1.205     # refractive index of LN2
background=200 # Is this essentially the bias offset?
wiener=0.0010  # From softworx
# TODO: Figure out whether to use angle0 or k0angles:
# angle0=0.292780
k0angles=0.292780,-1.802800,2.378600 # user these pattern vector k0 angles for all directions (instead of inferring the rest agnles from angle0)
ls=0.451                             # line spacing of SIM pattern in microns
ndirs=3                              # number of SIM  directions
nphases=5                            # number of pattern phases per SIM direction
na=0.9                               # detection objective's numerical aperture
otfRA=0                              # using rotationally averaged OTF; otherwise using 3/2D OTF for 3/2D raw data
dampenOrder0=1                       # dampen order-0 in final assembly; do not use for 2D SIM; good choice for high-background images
zoomfact=2                           # lateral zoom factor in the output over the input images
zzoom=1                              # axial zoom factor
gammaApo=1                           # output apodization gamma; 1.0 means triangular apo; lower value means less dampening of high-resolution info at the tradeoff of higher noise
equalizez=1                          # bleach correction for z

[otf config]
nphases=5      # Number of phases, by default 5
beaddiam=0.17  # The diameter of the bead in microns, by default 0.12
angle=1.57     # The k0 vector angle with which the PSF is taken, by default 0
ls=0.451       # The illumination pattern's line spacing in microns, by default 0.2
nocompen=False # Do not perform bead size compensation, default False (do perform)
fixorigin=2,9  # The starting and end pixel for interpolation along kr axis, by default (2, 9)
na=0.9         # The (effective) NA of the objective, by default 1.4
nimm=1.205     # The index of refraction of the immersion liquid, by default 1.515
leavekz=3,5,5  # Pixels to be retained on kz axis, by default (0, 0, 0)
background=500 # User-supplied number as the background to subtract. If `None`, background will be estimated from image, by default `None`

# OTF notes:
# beaddiam=0.17 for all apart from blue @ B24:
